@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "../_variables.scss";

* {
  @apply m-0 box-border border-0 bg-transparent p-0 font-medium text-primary;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $bg;
}

main {
  @apply mt-[4.5rem] lg:mt-[5.25rem] 2xl:mt-24;
}

h2 {
  @apply text-3xl font-bold uppercase md:text-4xl 2xl:text-5xl;
  border-bottom: solid $text-hover;
  @media (min-width: 768px) {
    border-width: 5px;
  }
}
