@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "../_variables.scss";

* {
  @apply m-0 box-border border-0 bg-transparent p-0 font-medium text-primary;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $bg;
}

main {
  @apply mt-[4.5rem] lg:mt-[5.25rem] 2xl:mt-24;
}

section {
  @apply mx-auto flex max-w-[1200px] flex-col items-center justify-center gap-8 py-14 px-8 text-center md:gap-12 md:px-4 md:py-16
  lg:px-8 xl:gap-16 xl:py-24;
  scroll-margin-top: 3.5rem;
}

h2 {
  @apply text-4xl font-bold uppercase outline-none xl:text-[42px] 2xl:text-5xl 3xl:text-6xl;
  border-bottom: 4px solid $text-hover;
  @media (min-width: 768px) {
    border-width: 5px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
